name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
        
    - name: Run Unit Tests
      run: |
        dotnet restore
        dotnet build
        dotnet test test/NosCore.Injector.Tests -v m
